.nav {
    background-color: #333;
    overflow: hidden;
    align-items: center;
    text-align: center;
    height: 60px;
    display: flex;
  }
  

  .nav a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    align-items: center;

  }
  
  .nav a.active {
    background-color: #0452aa;
    color: white;
    align-items: center;
    display: flex;
    height: 75px;
    padding-left: 60px;
  }

  body{
    margin: 0;
  }
  
  .pie {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4dcfff;
    color: white;
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav .div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 40px; /* Cambia la altura a 200px */
    width: auto; 
    max-width: 100%;
  }